<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1086097283674-puk6lhnn62njsh5t8h268c4dlcnu2pda.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1086097283674-puk6lhnn62njsh5t8h268c4dlcnu2pda</string>
	<key>API_KEY</key>
	<string>AIzaSyBMhGEEpojY3P8vpQnyuCzCg60RhHEL-GY</string>
	<key>GCM_SENDER_ID</key>
	<string>1086097283674</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myBlood</string>
	<key>PROJECT_ID</key>
	<string>my-blood-40c6b</string>
	<key>STORAGE_BUCKET</key>
	<string>my-blood-40c6b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1086097283674:ios:1b6201d25f5ec28ae09663</string>
</dict>
</plist>